# Application details.
apps.app.listen-port      = 60000
apps.app.environment-name = {{ ns }}

# Route-independent feature flags.
apps.features.agave      = {{ agave_enabled}}
apps.features.agave.jobs = {{ agave_jobs_enabled }}

# Database settings.
apps.db.driver      = org.postgresql.Driver
apps.db.subprotocol = postgresql
apps.db.host        = {{ DEDB.Host }}
apps.db.port        = {{ DEDB.Port }}
apps.db.name        = {{ DEDB.Name }}
apps.db.user        = {{ DEDB.User }}
apps.db.password    = {{ DEDB.Password }}

# JEX connection settings.
apps.jex.base-url = {{ BaseURLs.JexAdapter | trim_end_matches(pat="/")}}

# Data Info connection settings.
apps.data-info.base-url = {{ BaseURLs.DataInfo | trim_end_matches(pat="/")}}

# Workspace app category names.
apps.workspace.root-app-category            = Workspace
apps.workspace.default-app-categories       = ["Apps under development","Favorite Apps"]
apps.workspace.dev-app-category-index       = 0
apps.workspace.favorites-app-category-index = 1
apps.workspace.public-id                    = 00000000-0000-0000-0000-000000000000
apps.workspace.metadata.category.attrs      = rdf:type, http://edamontology.org/has_topic
apps.workspace.metadata.beta.attr.iri       = n2t.net/ark:/99152/h1459
apps.workspace.metadata.beta.attr.label     = releaseStatus
apps.workspace.metadata.beta.value          = beta

# The domain name to append to the user id to get the fully qualified user id.
apps.uid.domain = {{ UIDDomain }}

# The path to the home directory in iRODS.
apps.irods.home = /{{ IRODS.Zone }}/home

# The maximum length of an iRODS path, used in max HT Path List file size calculations.
# See https://github.com/irods/irods/blob/805c01f55ea23a141cb0fa3f449f5172b3a19657/lib/core/include/rodsDef.h#L59-L61
apps.irods.path-max-len = 1067

# Batch job settings.
apps.batch.group                           = batch_processing
apps.batch.path-list.ht.info-type          = ht-analysis-path-list
apps.batch.path-list.ht.max-paths          = 100000
apps.batch.path-list.multi-input.info-type = multi-input-path-list
apps.batch.path-list.multi-input.max-paths = 20000

# Agave connection settings.
apps.agave.base-url             = https://agave.iplantc.org
apps.agave.key                  = {{ Agave.Key }}
apps.agave.secret               = {{ Agave.Secret }}
apps.agave.oauth-base           = https://agave.iplantc.org/oauth2
apps.agave.oauth-refresh-window = 5
apps.agave.redirect-uri         = {{ Agave.RedirectURI }}
apps.agave.storage-system       = {{ Agave.StorageSystem }}
apps.agave.read-timeout         = {{ Agave.ReadTimeout }}
apps.agave.page-length          = 300

# Agave callback settings.
apps.agave.callback-base = {{ Agave.CallbackBaseURI }}

# PGP Settings
apps.pgp.keyring-path = /etc/iplant/crypto/secring.gpg
apps.pgp.key-password = {{ PGP.KeyPassword }}

# Notification agent connection settings.
apps.notificationagent.base-url = {{ BaseURLs.Notifications | trim_end_matches(pat="/")}}

# The job status polling interval.
apps.jobs.poll-interval = 15

# The base URL for analyses.
apps.analyses.base-url = {{ BaseURLs.Analyses | trim_end_matches(pat="/")}}

# The base URL for async-tasks.
apps.async-tasks.base-url = {{ BaseURLs.AsyncTasks | trim_end_matches(pat="/")}}

# The base URL for iplant-groups.
apps.iplant-groups.base-url     = {{ BaseURLs.IplantGroups | trim_end_matches(pat="/")}}
apps.iplant-groups.grouper-user = de_grouper

# Metadata connection settings
apps.metadata.base-url = {{ BaseURLs.Metadata | trim_end_matches(pat="/")}}

# Permissions service connection settings.
apps.permissions.base-url = {{ BaseURLs.Permissions | trim_end_matches(pat="/")}}

# Requests service connection settings
apps.requests.base-url = {{ BaseURLs.Requests | trim_end_matches(pat="/")}}

# CyVerse Email service settings.
apps.email.base-url             = {{ BaseURLs.IplantEmail | trim_end_matches(pat="/")}}
apps.email.app-deletion.from    = {{ Email.Src }}
apps.email.app-deletion.subject = Your "%s" app has been administratively deprecated
apps.email.app-request.from     = {{ Email.Src }}
apps.email.app-request.to       = {{ Email.Dest }}

# UI host
apps.ui.base-url = {{ DE.BaseURI | trim_end_matches(pat="/")}}

# VICE base URL
apps.interactive-apps.base-url = {{ VICE.BaseURI | trim_end_matches(pat="/")}}

# Tools settings.
apps.tools.trusted-registries = {{ Docker.TrustedRegistries | join(sep=",") }}

# AMQP
apps.amqp.uri = amqp://{{ DE.AMQP.User }}:{{ DE.AMQP.Password | urlencode }}@{{ DE.AMQP.Host }}:{{ DE.AMQP.Port }}/{{ DE.AMQP.Vhost | urlencode_strict }}
