bulk-typer.environment-name     = {{ Environment }}

bulk-typer.type-attribute       = ipc-filetype
bulk-typer.filetype-read-amount = 1024

# iRODS configuration
bulk-typer.irods.host        = {{ IRODS.Host }}
bulk-typer.irods.port        = 1247
bulk-typer.irods.zone        = {{ IRODS.Zone }}
bulk-typer.irods.user        = {{ IRODS.User }}
bulk-typer.irods.pass        = {{ IRODS.Password }}

bulk-typer.irods.home        = /{{ IRODS.Zone }}/home

# ICAT configuration
bulk-typer.icat.host         = {{ ICAT.Host }}
bulk-typer.icat.port         = {{ ICAT.Port }}
bulk-typer.icat.user         = {{ ICAT.User }}
bulk-typer.icat.password     = {{ ICAT.Password }}
bulk-typer.icat.db           = ICAT

# AMQP settings
bulk-typer.amqp.uri                  = amqp://{{ DE.AMQP.User }}:{{ DE.AMQP.Password | urlencode }}@{{ DE.AMQP.Host }}:{{ DE.AMQP.Port }}/{{ DE.AMQP.Vhost | urlencode_strict }}
bulk-typer.amqp.exchange.name        = de
bulk-typer.amqp.qos                  = 1
