# The URL to use when connecting to the database.
hibernate.connection.url = jdbc:postgresql://{{ grouper_db_host }}:{{ grouper_db_port }}/{{ grouper_db_name }}

# The credentials used to access the database.
hibernate.connection.username = {{ grouper_db_user }}
hibernate.connection.password = {{ grouper_db_password }}
