# The URL to use when connecting to the database.
hibernate.connection.url = jdbc:postgresql://{{ GrouperDB.Host }}:{{ GrouperDB.Port }}/{{ GrouperDB.Name }}

# The credentials used to access the database.
hibernate.connection.username = {{ GrouperDB.User }}
hibernate.connection.password = {{ GrouperDB.Password }}
