# Appenders

## Log messages to stdout
log4j.appender.grouper_stdout                           = org.apache.log4j.ConsoleAppender
log4j.appender.grouper_stdout.Target                    = System.out
log4j.appender.grouper_stdout.layout                    = org.apache.log4j.PatternLayout
log4j.appender.grouper_stdout.layout.ConversionPattern  = %d{ISO8601}: [%t] %-5p %C{1}.%M(%L) - %x - %m%n

# Loggers

## Default logger; will log *everything*
log4j.rootLogger  = ERROR, grouper_stdout

## All Internet2 (warn to grouper_error per default logger)
log4j.logger.edu.internet2.middleware = WARN

# Provisioning : PSP (version 2.1+)
log4j.logger.edu.internet2.middleware.psp = WARN
