# The name of the Grouper environment.
grouper.env.name = {{ ns }}

# The URL for the grouper UI.
grouper.ui.url = http://grouper-ui/grouper/

# Disable extension name validation.
group.validateExtensionByDefault = false
stem.validateExtensionByDefault = false
attributeDef.validateExtensionByDefault = false
attributeDefName.validateExtensionByDefault = false