info-typer.environment-name     = {{ ns }}

info-typer.type-attribute       = ipc-filetype
info-typer.filetype-read-amount = 1024

# iRODS configuration
info-typer.irods.host        = {{ irods_host }}
info-typer.irods.port        = 1247
info-typer.irods.zone        = {{ irods_zone }}
info-typer.irods.user        = {{ irods_user }}
info-typer.irods.pass        = {{ irods_password }}

info-typer.irods.home        = /{{ irods_zone }}/home


# AMQP settings
info-typer.amqp.uri                  = amqp://{{ irods_amqp_user }}:{{ irods_amqp_password | urlencode }}@{{ irods_amqp_host }}:{{ irods_amqp_port }}/{{ irods_amqp_vhost | urlencode}}
info-typer.amqp.exchange.name        = irods
info-typer.amqp.qos                  = 100

info-typer.events.amqp.uri = amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode}}
