amqp:
  uri: amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode_strict }}
  exchange:
    name: de
    type: topic
  prefetch:
    stops: 32
    launches: 32
    events: 0

apps:
  base: "{{ baseurls_apps | trim_end_matches(pat='/')}}"
  callbacks_uri: "{{ baseurls_apps | trim_end_matches(pat='/')}}/callbacks/de-job"

condor:
  condor_config: /etc/condor/condor_config
  path_env_var: /opt/condor/bin/:/usr/bin/:/usr/local/bin/:/bin/
  log_path: /tmp/
  request_disk: 0
  filter_files: .job.ad,.machine.ad,_condor_stderr,_condor_stdout,condor_exec.exe,.chirp_config,.chirp.config,logs/logs-stderr-output,logs/logs-stdout-output,config,job,iplant.cmd

db:
  uri: postgresql://{{ dbms_connection_user }}:{{ dbms_connection_pass | urlencode }}@{{ groups['dbms_primary'][0] }}:{{ pg_listen_port }}/{{ de_db_name }}?sslmode=disable

email:
  request: {{ email_support_dest }}

external_irods:
  host: "{{ irods_external_host }}"
  port: "1247"
  user: "job"

graphql:
  uri: http://de-graphql

interapps:
  proxy:
    tag: {{ docker_tag }}

iplant_email:
  base: "{{ baseurls_iplant_email | trim_end_matches(pat='/')}}"

iplant_groups:
  base: "{{ baseurls_iplant_groups | trim_end_matches(pat='/')}}"
  user: de_grouper

irods:
  user: "{{ irods_user }}"
  pass: "{{ irods_password }}"
  host: "{{ irods_host }}"
  port: "1247"
  base: "/{{ irods_zone }}/home"
  resc: ""
  zone: "{{ irods_zone }}"

k8s:
  frontend:
    base: "{{ vice_base_uri | trim_end_matches(pat='/')}}"

keycloak:
  base: "{{ keycloak_server_uri }}"
  realm: "{{ keycloak_realm_name }}"
  client-id: "{{ keycloak_vice_client_id }}"
  client-secret: "{{ keycloak_vice_client_secret }}"

metadata:
  base: "{{ baseurls_metadata | trim_end_matches(pat='/')}}"

notification_agent:
  base: "{{ baseurls_notifications | trim_end_matches(pat='/')}}"

notifications:
  db:
    uri: "postgresql://{{ dbms_connection_user }}:{{ dbms_connection_pass | urlencode }}@{{ groups['dbms_primary'][0] }}:{{ pg_listen_port }}/{{ notifications_db_name }}?sslmode=disable"

path_list:
  file_identifier: "# application/vnd.de.multi-input-path-list+csv; version=1"

porklock:
  image: "{{ jobs_data_transfer_image }}"
  tag: "{{ jobs_data_transfer_tag }}"

qms:
  enabled: {{ qms_enabled }}
  base: "{{ baseurls_qms | trim_end_matches(pat='/')}}"
  usage: "/v1/admin/usages"

tickets_path_list:
  file_identifier: "# application/vnd.de.tickets-path-list+csv; version=1"

users:
  domain: "{{ uid_domain }}"

vice:
  db:
    uri: "postgresql://{{ dbms_connection_user }}:{{ dbms_connection_pass | urlencode }}@{{ groups['dbms_primary'][0] }}:{{ pg_listen_port }}/{{ de_db_name }}?sslmode=disable"
  file-transfers:
    image: "{{ vice_file_transfers_image }}"
    tag: "{{ vice_file_transfers_tag }}"
  job-status:
    base: "{{ baseurls_job_status_listener | trim_end_matches(pat='/')}}"
  image-pull-secret: {{ vice_image_pull_secret }}
  backend-namespace: {{ ns }}
  use_csi_driver: {{ vice_use_csi_driver }}
  default_backend:
    loading_page_url: {{ vice_default_backend_loading_page_template_string }}
    base_url: {{ vice_base_uri | trim_end_matches(pat='/')}}
