# Database connection settings.
notificationagent.db.host        = {{ groups['dbms'][0] }}
notificationagent.db.port        = {{ pg_listen_port }}
notificationagent.db.name        = {{ notifications_db_name }}
notificationagent.db.user        = {{ dbms_connection_user }}
notificationagent.db.password    = {{ dbms_connection_pass }}

# E-mail configuration settings.
notificationagent.email-url      = {{ baseurls_iplant_email }}

# AMQP connection settings.
notificationagent.amqp.uri                  = amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode | regex_replace('/', '%2F') }}
notificationagent.amqp.exchange.name        = de
notificationagent.amqp.exchange.type        = topic
