amqp:
  uri: amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode }}
  exchange:
    name: de
    type: topic
  queue_prefix: templeton

elasticsearch:
  base: {{ es_base_uri|string|regex_replace("\/$", "") }}
  username: {{ es_username }}
  password: {{ es_password }}
  index: {{ es_index }}

db:
  uri: postgresql://{{ dbms_connection_user }}:{{ dbms_connection_pass | urlencode }}@{{ groups['dbms_primary'][0] }}:{{ pg_listen_port }}/{{ metadata_db_name }}?sslmode=disable
