amqp:
  uri: amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode_strict }}
  exchange:
    name: de
    type: topic
  queue_prefix: templeton

elasticsearch:
  base: {{ Elasticsearch.BaseURI | trim_end_matches(pat="/")}}
  username: {{ Elasticsearch.Username }}
  password: {{ Elasticsearch.Password }}
  index: {{ Elasticsearch.Index }}

db:
  uri: postgresql://{{ MetadataDB.User }}:{{ MetadataDB.Password | urlencode }}@{{ MetadataDB.Host }}:{{ MetadataDB.Port }}/{{ MetadataDB.Name }}?sslmode=disable
