{%- for image in vice_image_cache -%}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cache-{{ image | b64encode | replace(from="_", to="-") | truncate(length=57) }}
spec:
  selector:
    matchLabels:
      name: cache-{{ image | b64encode | replace(from="_", to="-") | truncate(length=57) }}
  template:
    metadata:
      labels:
        name: cache-{{ image | b64encode | replace(from="_", to="-") | truncate(length=57) }}
    spec:
      tolerations:
      - key: "vice"
        operator: "Equal"
        value: "only"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: vice
                operator: In
                values:
                - "true"
{%- if vice_image_pull_secret %}
      imagePullSecrets:
        - name: {{ vice_image_pull_secret }}
{%- endif %}
      initContainers:
      - name: cache
        image: harbor.cyverse.org/hub/library/docker
        command: ["docker", "pull", "{{ image }}"]
        volumeMounts:
        - name: docker
          mountPath: /var/run
{%- if vice_image_pull_secret %}
        - name: docker-config
          mountPath: /root/.docker
          readOnly: true
{%- endif %}
      volumes:
      - name: docker
        hostPath:
          path: /var/run
{%- if vice_image_pull_secret %}
      - name: docker-config
        secret:
          secretName: {{ vice_image_pull_secret }}
          items:
            - key: .dockerconfigjson
              path: config.json
              mode: 0600
{%- endif %}
      containers:
      - name: pause
        image: gcr.io/google_containers/pause
{% endfor %}
