amqp:
  uri: amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode_strict }}
  exchange:
    name: de
    type: topic
  routing: notification.*
db:
  uri: postgresql://{{ groups['dbms_primary'][0] }}:{{ dbms_connection_pass | urlencode }}@{{ groups['dbms_primary'][0] }}:{{ pg_listen_port }}/{{ DEDB.Name }}?sslmode=disable
de:
  base: {{ de_base_uri | trim_end_matches(pat="/") }}
user:
  suffix: iplantcollaborative.org
