apiVersion: apps/v1
kind: Deployment
metadata:
  name: unleash
  labels:
    app: unleash
spec:
  replicas: 2
  selector:
    matchLabels:
      app: unleash
  template:
    metadata:
      labels:
        app: unleash
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: de-app
                    operator: In
                    values:
                      - unleash
              topologyKey: kubernetes.io/hostname
      restartPolicy: Always
      containers:
        - name: unleash
          image: unleashorg/unleash-server:7
          env:
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: timezone
                  key: timezone
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: unleash-secret
                  key: database_host
            - name: DATABASE_SSL
              valueFrom:
                secretKeyRef:
                  name: unleash-secret
                  key: database_ssl
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: unleash-secret
                  key: database_name
            - name: DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: unleash-secret
                  key: database_username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: unleash-secret
                  key: database_password
          ports:
            - name: listen-port
              containerPort: 4242
          livenessProbe:
            httpGet:
              path: /
              port: 4242
            timeoutSeconds: 5
            initialDelaySeconds: 30
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 4242
            timeoutSeconds: 5
            initialDelaySeconds: 30
            periodSeconds: 20
---
 apiVersion: v1
 kind: Service
 metadata:
   name: unleash
   labels:
     app: unleash
 spec:
   selector:
     app: unleash
   ports:
     - protocol: TCP
       port: 4242
       targetPort: listen-port
